@import '../../scss/variables.scss';

.todo-item {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: white;
  list-style: none;
  width: 100%;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;

    p {
      overflow-x: auto;
      font-size: 1rem;
    }

    input[type="text"] {
      padding: 5px;
      border: none;
      appearance: none;
      font-family: "Figtree", sans-serif;
      font-size: 1rem;
      outline: none;
      color: black;
      width: 100%;
      border-radius: 5px;
    }

    input[type="checkbox"] {
      appearance: none;
      background-color: transparent;
      margin: 0;
      width: 1.1rem;
      height: 1.1rem;
      border: 2px solid $secondary-color;
      border-radius: 100%;
      display: grid;
      place-content: center;
      cursor: pointer;
      transition: opacity 0.3s ease;
      flex-shrink: 0;

      &::before {
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
        background-size: cover;
        transform: scale(0);
        transition: opacity 0.3s ease;
      }

      &:checked {
        background-color: $third-color;
        color: white;
      }

      &:checked::before {
        transform: scale(1);
      }
    }
  }

  &-action {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      display: inline-block;
      padding: 5px 8px;
      border-radius: 5px;
      color: white;

      &.Incomplete {
        background-color: $secondary-color;
      }

      &.Completed {
        background-color: green;
      }

      &.In-progress {
        background-color: $button-color;
      }
    }

    button {
      background-color: white;
      padding: 5px 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 0.9rem;
      min-width: 25px;

      &:hover {
        background-color: #f4f1f1;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    select {
      padding: 5px 5px;
      border: 1.5px solid #000;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 0.9rem;
      outline: none;
    }
  }

  &.completed {
    background-color: $third-color;
    color: $fourth-color;

    p {
      text-decoration: line-through;
    }

    select {
      color: white;
      border-color: green;
      background-color: green;
    }

    button {
      background-color: unset;
      color: $fourth-color;

      &:hover {
        color: #777;
      }
    }
  }
}