@import '../../scss/variables.scss';
@import '../../scss/responsive.scss';

.status-item-container {
  list-style: none;

  &.active {
    button {
      span:nth-child(1) {
        background-color: $secondary-color;
      }

      span:nth-child(2) {
        background-color: $fourth-color;
      }
    }
  }

  button {
    background-color: white;
    padding: 5px 5px;
    border: none;
    font-family: "Figtree", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;

    &:active {
      transform: scale(0.95);
    }

    span {
      transition: all 0.4s ease;
      padding: 5px 8px;

      @include mobile {
        font-size: 0.85rem;
        padding: 4px 6px;
      }
    }
  }

  &__status {
    background-color: #7b7878;
    border-radius: 5px 0 0 5px;
    color: white;
  }

  &__count {
    font-weight: 600;
    background-color: #b4a4a4;
    text-align: right;
    border-radius: 0 5px 5px 0;
    color: white;
  }
}