@import '../../scss/variables.scss';
@import '../../scss/responsive.scss';

.header {
  width: 100%;
  padding: 65px 0;
  background-color: $header-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    text-align: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include desktop {
      width: 50%;
    }

    @include large-desktop-width {
      width: 40%;
    }

    @include tablet {
      width: 70%;
    }

    @include mobile {
      width: 90%;
    }

    h1 {
      color: white;
      font-size: 2rem;
      align-self: flex-start;
      margin: unset;
    }

    .input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;

      @include mobile {
        flex-direction: column;
        width: 100%;
      }

      input {
        flex: 1;
        padding: 15px;
        border-radius: 5px;
        border: none;
        appearance: none;
        font-family: "Figtree", sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        outline: none;
        background-color: $secondary-color;
        color: $primary-color;

        @include mobile {
          width: 100%;
        }
      }

      button {
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        background-color: $button-color;
        color: white;
        cursor: pointer;
        font-family: "Figtree", sans-serif;
        font-weight: 600;
        transition: all 0.3s ease;

        @include mobile {
          width: 100%;
        }

        &:hover {
          background-color: $button-hover-color;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}